<div class="page-header">
  <h3><%= @musician.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Genre</dt>
      <dd><%= @musician.genre %></dd>

      <dt>Name</dt>
      <dd><%= @musician.name %></dd>

      <dt>Albums</dt>
      <% Album.where({:musician_id => @musician.name}).each do |album| %>
      <a href="/albums/<%= album.id %>"><dd><%= album.name %>
(<%= album.year %>)</dd>
</a>
      <% end %>
</dl>

<dl class="dl-horizontal">

      <dt>Artists You Might Like</dt>
      <% Musician.where({:genre => @musician.genre}).where.not(:name => @musician.name).each do |musician| %>
      <a href="/musicians/<%= musician.id %>">
        <dd><%= musician.name %>
    </dd>
    </a>
      <% end %>
</dl>



    <div class="btn-group btn-group-justified">
      <a href="/musicians" class="btn btn-primary">
        Back
      </a>
      <a href="/musicians/<%= @musician.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_musician/<%= @musician.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>


<form action="/create_album" method="post">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <!-- Label and input for musician_id -->
  <div class="form-group">
    <h3>
      Add a New Album
    </h3>

    <input type="hidden" id="musician_id" name="musician_id" placeholder="Musician" class="form-control" value="<%= @musician.name %>">
  </div>

  <!-- Label and input for year -->
  <div class="form-group">
    <label for="year" class="control-label">
      Year
    </label>

    <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @album.year %>">
  </div>

  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name" class="control-label">
      Name
    </label>

    <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @album.name %>">
  </div>

  <button class="btn btn-success btn-block">
    Create Album
  </button>

</form>
