<!-- Validation failure messages -->
<% if @album.errors.any? %>
  <% @album.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Album #<%= @album.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_album/<%= @album.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for musician_id -->
      <div class="form-group">
        <label for="musician_id" class="control-label">
          Musician
        </label>

        <input type="text" id="musician_id" name="musician_id" placeholder="Musician" class="form-control" value="<%= @album.musician_id %>">
      </div>

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>

        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @album.year %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @album.name %>">
      </div>

      <button class="btn btn-warning">
        Update Album
      </button>
      or
      <a href="/albums/<%= @album.id %>">Cancel</a>
    </form>
  </div>
</div>
