<div class="page-header">
  <h1>
    Albums
    <a href="/albums/new" class="btn btn-lg btn-success">New Album</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Musician</th>
        <th>Year</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @albums.each do |album| %>
      <tr>
        <td><%= album.musician_id %></td>
        <td><%= album.year %></td>
        <td><%= album.name %></td>
        <td>
          <a href="/albums/<%= album.id %>" class="btn btn-primary">Show</a>
          <a href="/albums/<%= album.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_album/<%= album.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
